/*PART A*/

/*Parallax effect on team name/slogan*/
.parallax {
  /*image used */
  background-image: url("../images/teamname_new.png");

  /* height */
  min-height: 500px; 

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*  photo grid ... images/previous works column and rows */
  /* .grid::after {
    content: "";
    clear: both;
    display: table;
    
  } */

  .grid {
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 5vw;
  }
  .grid_column {
    display:block;
    margin:auto;
    width:25vw;
    height:25vw;
    text-align: center;
  }
  .description {
    text-align: left;
  }
  img{
    border-radius: 50%;
  }
  .thumbail img{
    border-radius:0%;
  }

  img:hover {
      box-shadow: 0 0 10px 5px rgb(106,176,161);
  }
   
  /*PART B*/

/* Header/Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(121, 90, 140);;
}

.header h1 {
  font-size: 50px;
}
.header img{
  text-align:left;
}
.info h3{
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
}
.info{
  font-size: 7px;
}

/* the columns that float next to each other */
/* Left column of the resume:objective, education, work experience */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column: personal info, skills, awards*/
.rightcolumn {
  float: left;
  width: 25%;
  background-color: gray;
  padding-left: 20px;
}



/* card effect aka the card looking background for the personal info, skills, and awards */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}


/* Footer */
.footer {
  padding: absolute;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* ------------------------------ */
/*        JIALIN's CSS            */
/* ------------------------------ */
h1.jialin-h1{
  text-align:center;
  padding: 0;
  margin-bottom: 0;
  letter-spacing:1.5px;
  font-size:4vw;
  margin-top:16px;
}
hr#jialin-hr {
  border-style: none;
  border-top-style:dotted;
  border-color: #ff7a00;
  border-width: 6px;
  height: 0;
  width: 4%;
  padding-top: 10px;
  /* padding-bottom: 5px; */
}
ul.jialin-list {
  /* list-style-type:dot; */
  padding-left:0;
  margin-left: 70px;
  margin-top: 4px;
  margin-bottom: 0;
}
.jialin-list li{
  padding-bottom: 5px;
  color:#ff7a00;
}
.jialin-list li span{
  color:black;
  font-size: 15px;
  font-weight: lighter;
}
.jialin-list li span span {
  padding-left: 18px;
  font-size: 13px;
}
#jl-contact{
  font-size: 13px;
  text-align:center;
  padding: 0;
  margin:0;
  margin-top:-10px;
}

#intro-yuj14 {
  text-align:center;
}

#jl-class{
  margin-top:4px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: normal;
}
.jl-major{
  margin-top:4px;
  font-size: 13px;
  margin-left: 20px;
  color:rgb(126, 122, 122);
}
#jl-cources{
  padding-right: 10px;
  margin-bottom: 0;
  margin-left: 50px;
  font-weight:bold;
}
#jl-lang{
  margin-top:0;
}
#jl-hor{
  margin-left: 70px;
}
#jl-ho{
  margin-top:16px;
}
.jl-uni {
  display:inline-block;
  padding-right: 10px;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: bold;
}

.jl-title{
  margin-bottom: 0;
  margin-left: 20px;
  color:#0776aa;
  font-size: 19px;
}
.jl-row{
  display: flex;
  margin:auto;
}
.jl-left {
  width: 65%;
  margin-right:10px;
  margin-left:70px;
}
.jl-left a {
  color:black;
}
.jl-right {
  width: 35%;
  margin-right:70px;
  margin-left:0px;
}
