/*PART A*/

/*Parallax effect on team name/slogan*/
.parallax {
  /*image used */
  background-image: url("teamname.png");

  /* height */
  min-height: 500px; 

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*  photo grid ... images/previous works column and rows */
  .grid::after {
    content: "";
    clear: both;
    display: table;
  }

  .grid_column {
    float: left;
    width: 30.33%;
    padding: 18px;
    text-align: center;
    color: black;
    
    }
  img{
    border-radius: 50%;
  }
  .thumbail img{
    border-radius:0%;
  }

  img:hover {
      box-shadow: 0 0 10px 5px rgb(106,176,161);
  }
   
  /*PART B*/

/* Header/Title */
.header {
  padding: 30px;
  text-align: center;
  background: rgb(121, 90, 140);;
}

.header h1 {
  font-size: 50px;
}
.header img{
  text-align:left;
}
.info h3{
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
}
.info{
  font-size: 7px;
}

/* the columns that float next to each other */
/* Left column of the resume:objective, education, work experience */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column: personal info, skills, awards*/
.rightcolumn {
  float: left;
  width: 25%;
  background-color: gray;
  padding-left: 20px;
}



/* card effect aka the card looking background for the personal info, skills, and awards */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}


/* Footer */
.footer {
  padding: absolute;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/*Krisia CSS*/
h1 {
  text-align: center; 
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

h2 {
  clear: both;
  font-size: 1.3em;
  background-color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

h3{
  clear: both;
  font-size: 1.3em;
  background-color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

h4{
  clear: both;
  font-size: 1.3em;
  background-color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

h5{
  clear: both;
  font-size: 1.3em;
  background-color: white;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

/*contact information formatting*/
#contactInfo {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 4px 0  4px 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/*contact information formatting*/
#contactInfo li {
  display: inline;
  list-style: none;
  margin: 0 0.5em 0 0.5em;
}

/*dates to right*/
.date{
  list-style-type: none;
  text-align: right;
  font-size: 0.9em;
  padding: 0 100px 0 0;
}

/*formats image*/
#imgk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  float: left;
}

/*div blocks*/
.box {
  padding: 5px;
}

/*footer*/
#foot {
  background: #ddd;
}
